{% schema %}
{
  "name": "Page Content",
  "settings": []
}
{% endschema %}

<div class="py-8 px-6">
  <div class="container">
    <h1 class="text-3xl md:text-4xl mb-8">{{ page.title }}</h1>
    <div class="prose max-w-none">
      {{ page.content }}
    </div>
  </div>
</div>
